<body>
  <div class="top">
    <div class="container">
      <div class="row">
        <div class="center-block" style="width: 50%">
          <h1>welcome to <span class="glyphicon glyphicon-book" aria-hidden="true"></span><strong>Bookers</strong> !!</h1>
          <p>In <span class="glyphicon glyphicon-book" aria-hidden="true"></span><strong>Bookers,</strong></p>
          <p>you can share and exchange your opinions , inpressions , and emotions<br>
            about various books!
          </p>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col text-center">
            <%# 変更予定 %>
            <a class="btn btn-primary btn-info" style="width:470px" href=" /users/sign_in">Log in</a>
          </div>
        </div>
        <div class="row">
          <div class="col text-center">
            <%# 変更予定 %>
            <a class="btn btn-success btn-info2" style="width:470px" href="/users/sign_up">Sign up</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</body>