<body>
  <div class="top">
    <div class="container">
      <div class="row">
        <div class="center-block" style="width: 50%">
          <h1>welcome to <span class="glyphicon glyphicon-book" aria-hidden="true"></span><strong>Bookers</strong> !!</h1>
          <p>In <span class="glyphicon glyphicon-book" aria-hidden="true"></span><strong>Bookers,</strong></p>
          <p>you can share and exchange your opinions , inpressions , and emotions<br>
            about various books!
          </p>
        </div>
        <div class="center-block" style="width: 50%">
          <%= link_to "Log in", new_user_session_path , class: "btn btn-info col-xs-10",match: :first %>
        </div>
        <div class="center-block" style="width: 50%">
          <%= link_to "Sign up", new_user_registration_path, class: "btn btn-success col-xs-10",match: :first %>
        </div>
      </div>
    </div>
  </div>
</body>